{
  "printWidth": 80,
  "singleQuote": true,
  "useTabs": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "src/app/api/**/*.ts",
      "options": {
        "printWidth": 3000
      }
    }
  ]
}
